<!-- :title というシンボルに対して、"Home"という文字列を提供 -->
<h1>Sample App</h1>
<p>
  This is the home page for the
  <!-- リンクを設定する -->
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
