<div class="center jumbotron">
  <!-- :title というシンボルに対して、"Home"という文字列を提供 -->
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <!-- リンクを設定する -->
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <!-- "sample app"というリンクを生成し、class属性を指定
        class はボタンのスタイルを適用する
    -->
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<!-- 画像とリンクの組み合わせ
     image_tag は sample_app/app/assets から画像を探す
  -->
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
<%= link_to image_tag("kitten.jpg", alt: "kitten", width: "700"), '#' %>
