@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ウェブページの本体 */
body {
  /* 上部に60ピクセルの余白（内部パディング）を追加 */
  padding-top: 60px;
}

/* セクション要素にスタイルを適用 */
section {
  /* セクション内のコンテンツがセクション内でオーバーフローした場合にスクロールバーを表示する */
  overflow: auto;
}

/* テキストエリア要素にスタイルを適用 */
textarea {
  /* テキストエリアのリサイズが垂直方向にのみ許可される */
  resize: vertical;
}

/* 水平方向の中央揃えを適用するためのスタイル */
.center {
  /* テキスト（テキスト要素内のコンテンツ）の水平方向の配置を指定する */
  text-align: center;
}

/* .center クラスが適用された要素内の h1 要素に関するスタイルを指定 */
.center h1 {
  /* h1 要素の下部に 10 ピクセルのマージンを追加するスタイル */
  margin-bottom: 10px;
}

/* typography */

/* HTML の見出し要素（h1 から h6）に対して、行の高さ（line-height）を 1 に設定 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* h1 要素に対するスタイルを指定 */
h1 {
  font-size: 3em; /* フォントサイズ 3 倍 */
  letter-spacing: -2px; /* 文字間隔を-2ピクセルに設定, 負の値は文字を近づける */
  margin-bottom: 30px; /* h1の下部に30ピクセルのマージンを追加 */
  text-align: center; /* h1のテキストを中央揃え */
}

/* h2 要素に対するスタイルを指定 */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal; /* テキストの太さを通常の太さに設定 */
  color: $gray-light; /* テキストの色を灰色（#777）に設定 */
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

/* HTML 内で id="logo" と設定されている要素（通常はロゴ要素）にこのスタイルを適用 */
#logo {
  float: left; /* float プロパティによる横並びを実現、要素を左寄せにする */
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase; /* テキストを大文字に変換 */
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* logo セレクタにホバー（マウスを重ねた状態）した場合に適用されるスタイルを指定 */
#logo:hover {
  color: #fff;
  text-decoration: none; /* ホバー時にテキストデコレーションを無効 */
}

/*
    img {
    display: none;
    }
*/

/* footer */

/* HTML 内で <footer> 要素に対応し、そのスタイルを定義 */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea; /* フッターの上部に薄い水平の線を表示 */
  color: $gray-light;

  /* フッター内のリンク要素に適用されるスタイルを定義 */
  a {
    color: #555;
  }

  /* ホバー（マウスが要素の上にあるとき）時のリンクのスタイルを定義 */
  a:hover {
    color: #222;
  }

  /* フッター内の <small> 要素に対してスタイルを定義, <small> はテキストを小さく表示するために使用 */
  small {
    float: left;
  }

  /* フッター内の無順序リスト（<ul>要素）に対してスタイルを定義 */
  ul {
    float: right;
    list-style: none; /* 無順序リストの箇条書き記号を非表示 */

    /* 無順序リスト内の各リストアイテム（<li>要素）に対してスタイルを定義 */
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
